main {
  overflow: hidden;
}
.promo {
  &__image-container {
    background-color: $yellow;
    border-radius: 64%/0 0 20% 20%;
    padding-bottom: 10px;
    &__image {
      background-image: url('../img/main_photo-mobile.png');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 100%;
      width: 100%;
      padding-top: 70%;
      border-radius: 43%/0 0 20% 20%;

      @media (min-width: $pc_width) {
        background-image: url('../img/main_photo.png');
        padding-top: 50%;
      }
    }
  }
}
// .image {
//   background-image: url('../img/main_photo-mobile.png');
//   background-repeat: no-repeat;
//   background-position: 50% 0;
//   background-size: 100%;
//   width: 100%;
//   padding-top: 77%;
//   border-radius: 50%/0 0 60px 60px;
//   background-color: $yellow;
// }
