@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('../fonts/PFDinTextCondPro-Bold.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-bold.woff') format('woff'),
    url('../fonts/pfdintextcondpro-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('../fonts/PFDinTextCondPro-Medium.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-medium.woff') format('woff'),
    url('../fonts/pfdintextcondpro-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('../fonts/PFDinTextCondPro-Regular.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-regular.woff') format('woff'),
    url('../fonts/pfdintextcondpro-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
