.promo {
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 67px;
  &__image-container {
    &__image {
      background-color: $yellow;
      background-image: url('../img/main_photo-mobile.png');
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: cover;
      width: 100vw;
      margin-left: -10px;
      padding-top: 77.2222222222%;
      border-radius: 75%/0 0 20% 20%;
      border: 10px solid $yellow;
      border-top: 0;
      box-sizing: content-box;
      pointer-events: none;
      @media (min-width: $pc_width) {
        background-image: url('../img/main_photo.png');
        padding-top: 53.196347032%;
      }
    }
  }
  &__button {
    background-color: $red;
    width: 164px;
    height: 47px;
    border: 6px solid white;
    border-radius: 45px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto;
    margin-top: -28px;
    transition: $transition;

    &:hover {
      transform: scale(1.1);
    }
    @media (min-width: $pc_width) {
      width: 234px;
      height: 69px;
      margin-top: -40px;
    }
  }
  @media (min-width: $pc_width) {
    margin-top: 87px;
  }
}
.man-image {
  width: 65%;
  position: absolute;
  top: 6%;
  left: 18%;
  animation: fly_mobile 2s ease-in-out infinite;
  animation-direction: alternate;
  @media (min-width: $pc_width) {
    width: 50%;
    position: absolute;
    top: 4%;
    left: 22%;
  }
}
@keyframes fly_mobile {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(4px, 10px);
  }
}
