@import 'normalize';
@import 'variables';
@import 'fonts';
@import 'header';
@import 'promo';
@import 'rules';
@import 'products';
@import '../../node_modules/swiper/swiper-bundle.css';

body {
  background-color: $yellow;
  font-family: 'PFDinTextCondPro', Arial, Helvetica, sans-serif;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

.footer {
  background-color: white;
  padding: 40px 40px 0 40px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    'A'
    'B'
    'C'
    'D';
  gap: 20px;
  &__links {
    grid-area: A;
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    color: $brown;
    font-weight: 500;
    font-size: 14px;
    gap: auto;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__number {
    grid-area: B;
    text-align: center;
    &__info {
      color: $brown;
      font-weight: 500;
      font-size: 16px;
      @media (min-width: $pc_width) {
        text-align: left;
      }
    }
    &__link {
      color: $red;
      font-weight: 500;
      font-size: 30px;
      margin-top: 15px;
      @media (min-width: $pc_width) {
        justify-content: flex-start;
        font-size: 36px;
      }
    }
    @media (min-width: $pc_width) {
      text-align: left;
    }
  }
  &__social {
    grid-area: C;
    text-align: center;
    margin: 0 auto;
    &__info {
      font-size: 16px;
      color: $brown;
      @media (min-width: $pc_width) {
        text-align: left;
      }
    }
    &__links {
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(6, 32px);
      gap: 10px;
      justify-items: center;
      & li > a {
        background-color: $yellow;
        transition: $transition;
        width: 32px;
        height: 32px;
        border-radius: 5px;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    @media (min-width: $pc_width) {
      text-align: left;
      font-size: 16px;
    }
  }

  &__copyrigth {
    grid-area: D;
    font-size: 10px;
    color: $brown;
    text-align: center;
    @media (min-width: $pc_width) {
      text-align: left;
      font-size: 12px;
    }
  }

  @media (min-width: $pc_width) {
    grid-template-areas:
      'B A C'
      'D A C';
    grid-template-columns: 33% 33% 33%;
  }
}
.social-logo {
  background-size: 18px 18px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url('../img/facebook.svg');
}
.in {
  background-image: url('../img/in.svg');
}
.twitter {
  background-image: url('../img/twitter.svg');
}
.instagram {
  background-image: url('../img/instagram.svg');
}
.pintrest {
  background-image: url('../img/pintrest.svg');
}

.vk {
  background-image: url('../img/vk.svg');
  background-size: 18px 18px;
  background-position: 50% 50%;
}
