@import 'normalize';
@import 'variables';
@import 'fonts';
@import 'header';
@import 'promo';
@import 'rules';
@import 'products';
@import '../../node_modules/swiper/swiper-bundle.css';

// @import 'swiper/modules/pagination/pagination.min.css';

//Заменить сыр на png
//Указать alt

body {
  background-color: $yellow;
  font-family: 'PFDinTextCondPro', Arial, Helvetica, sans-serif;
  font-display: swap;
}
