@import 'normalize';
@import 'variables';
@import 'fonts';
@import 'header';
@import 'promo';
@import 'rules';
@import 'products';
@import 'footer';
@import '../../node_modules/swiper/swiper-bundle.css';

body {
  background-color: $yellow;
  font-family: 'PFDinTextCondPro', Arial, Helvetica, sans-serif;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

.menu {
  width: 100%;
  height: calc(100vh - 62px);
  background-color: $yellow;
  position: fixed;
  z-index: 10;
  padding: 10px;
  display: flex;
  transition: $transition;
  left: 0;
  top: 62px;
  flex-direction: column;

  &__anchors,
  &__links {
    list-style: none;
    margin: 0;
    padding: 0;
    color: $brown;
    font-weight: 500;
    padding-left: 10px;

    & li > a {
      justify-content: flex-start;
    }
  }

  &__anchors {
    font-size: 16px;
    border-bottom: 1px solid #ecb200;

    & li {
      padding: 12px 0;
    }
  }
  &__links {
    font-size: 12px;
    margin-top: 15px;
    & li {
      padding: 8px 0;
    }
    border-bottom: 1px solid #ecb200;
  }
  &__social {
    padding-left: 10px;
    margin-top: auto;
  }

  &--hidden {
    left: -100vw;
  }
  @media (min-width: $pc_width) {
    display: none;
  }
}
